.header_css{
   background-color: blue;
}

.main_nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
}
.logo{
   font-size: 48px;
   color: goldenrod;
}
.e{
   color:#efedea;
}
.all_page{
   display: flex;
   gap: 10px;
} 
.all_page li{
   list-style: none;
}
.all_page li a{
   text-decoration: none;
   color: white;
   font-size: 16px;
}
.loginButton{
   display: flex;
   align-items: center;
   color: white;
   font-size: 16px;
}
.loginButton a{
   color: white;
   text-decoration: none;
}
.buttonleft{
   margin-left: 24px;
   color: white;
   padding-left: 24px;
   padding-right: 24px;
   padding-top: 12px;
   padding-bottom: 12px;
   background: linear-gradient(to bottom, #FFC27A,#FFA337);
   border-radius: 100px;
   border: none;
}
.lockImage{
   margin-right: 8px;
   width: 24px;
   height: 24px;
}
.locklogin{
   display: flex;
   align-items: center;
}

/* font style */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.logo {
  font-family: "PT Serif", serif;
  font-weight: 800;
  font-style: italic;
}
